dist: focal
os: linux

language: php
php:
  - "5.6"

jobs:
  include:
    - name: "Python 3.8 job"
      os: linux
      dist: focal
      language: python
      python: "3.8"
      script:
        - python -c "print('Hi from Python!')"

    - name: "NodeJS 12 job"
      os: linux
      dist: focal
      language: node_js
      node_js: "12"
      script:
        - node -e "console.log('Hi from NodeJS!')"

    - name: "Java OpenJDK8 job"
      os: linux
      dist: focal
      language: java
      jdk: openjdk8
      script:
        - javac -help
